text {
  font-size: 28;
  font-family: SevilleSharp-Regular;
  text-length: 80;
  text-anchor: middle;
  fill: #f8f8f8;
}

.background {
  viewport-fill: black;
}

#myTime {
  font-size: 100;
  font-weight: bold;
  font-family: SevilleSharp-Bold;
}

#myDate {
  font-size: 34;
}

#HRtext {
  font-size: 34;
  font-weight: bold;
}